mixin menu(className)
	nav.nav
		ul
			li: a(href="#") Mercury
			li: a(href="#") Venus
			li: a(href="#") Earth
			li: a(href="#") Mars

mixin logo
	.logo
		.logo__sun
		.logo__planet.logo__planet_mercury
		.logo__planet.logo__planet_venus
		.logo__planet.logo__planet_earth
		.logo__planet.logo__planet_mars


doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		block title
			title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet" media="all" href="css/style.css")

		//meta(name='theme-color', content='#D1141B')
	body

		block content
		script(src="js/lib/scrollr.js")
		script(src="js/app.js" async)

		script.
			var s = skrollr.init();